@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700 */

.templateFont {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	/* font-weight: "bold"; */
	font-style: normal;
}

.textInput {
	@apply w-1/3 text-black px-3 py-2
}

.select {
	@apply w-1/3 text-black px-3 py-2 bg-slate-50
}

.companyTextInput {
	@apply w-2/3 text-black px-3 py-2
}

.btn {
	@apply px-3 py-2 text-white bg-green-400
}

.formRow {
	@apply flex flex-row flex-nowrap gap-5 border-b-2 border-gray-300 pb-2
}

.label {
	@apply w-1/3
}

